body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../img/fondo.jpeg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
 
  
  .volver-tienda {
    text-align: center;
    margin-top: 30px;
  }
  
  .volver-tienda button {
    background-color: #00bfa6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .volver-tienda button:hover {
    background-color: #009e8f;
  }
  
  
  .perfil-container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h1, h2 {
    text-align: center;
    color: #333;
  }
  
  .datos-usuario p {
    margin: 8px 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  button {
    background: #00bfa6;
    border: none;
    padding: 8px 12px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background: #009e8f;
  }
  